# Streamlit entrypoint & WebRTC
streamlit==1.49.1
streamlit-webrtc==0.63.4

# Realtime media
aiortc==1.13.0
av==14.4.0

# CV stack (headless avoids GUI libs)
opencv-python-headless==4.10.0.84
mediapipe==0.10.21

# Utils
numpy==1.26.4
pillow>=10.0.0
pyyaml>=6.0.1
loguru>=0.7.2
